In [315]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [316]:
fileS ='data/2013-2022-emergency-shelter-occupancy-machine-readable.csv'
fileE ='data/avg_weekly_earnings.csv'
fileU ='data/unemployment_rate.csv'

shdf = pd.read_csv(fileS, parse_dates=["Date"])
edf = pd.read_csv(fileE, parse_dates=["When"])
udf = pd.read_csv(fileU, parse_dates=["When"])

C:\Users\Testing5\AppData\Local\Temp\ipykernel_1636\4229934392.py:5: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  shdf = pd.read_csv(fileS, parse_dates=["Date"])

In [317]:
shdf.head(20)

,Date,City,ShelterType,ShelterName,Organization,Shelter,Capacity,Overnight,Daytime,YEAR,MONTH
0,2013-04-01,Edmonton,Women Emergency,WEAC,WEAC,,75,65,,2013,4
1,2013-04-01,Edmonton,Intox,Hope Mission - Intox Centre,Hope Mission,Intox Centre,70,74,,2013,4
2,2013-04-01,Edmonton,Adult Emergency,Hope Mission - Herb Jamieson Centre,Hope Mission,Herb Jamieson Centre,250,253,,2013,4
3,2013-04-01,Edmonton,Winter Emergency,Hope Mission - Mat Emergency Shelter Program,Hope Mission,Mat Emergency Shelter Program,200,152,,2013,4
4,2013-04-01,Edmonton,Youth Emergency,Hope Mission - Youth,Hope Mission,Youth,60,51,,2013,4
5,2013-04-01,Edmonton,Women Emergency,Hope Mission - Women WEmS,Hope Mission,Women WEmS,70,51,,2013,4
6,2013-04-01,Edmonton,Short Term Supportive,Salvation Army Addictions and Residential Cent...,Salvation Army Addictions and Residential Centre,,148,143,,2013,4
7,2013-04-01,Edmonton,Short Term Supportive,McCauley Lodge - Short Term Supportive,McCauley Lodge,,58,57,,2013,4
8,2013-04-01,Edmonton,Short Term Supportive,Sparling Lodge - Short Term Supportive,Sparling Lodge,,20,21,,2013,4
9,2013-04-01,Edmonton,Short Term Supportive,Urban Manor - Short Term Supportive,Urban Manor,,75,55,,2013,4
10,2013-04-01,Fort McMurray,Adult Emergency,Fort McMurray Salvation Army,Fort McMurray Salvation Army,Emergency,32,29,,2013,4
11,2013-04-01,Fort McMurray,Winter Emergency,Fort McMurray Salvation Army - Mat Program,Fort McMurray Salvation Army,Mat Program,30,30,,2013,4
12,2013-04-01,Fort McMurray,Adult Emergency,Marshall House,Marshall House,,100,34,,2013,4
13,2013-04-01,Grande Prairie,Short Term Supportive,Rotary House - Short Term Supportive,Rotary House,Short Term Supportive,48,46,,2013,4
14,2013-04-01,Grande Prairie,Adult Emergency,Wapiti Community Dorm - Emergency,Rotary House,Emergency,52,41,,2013,4
15,2013-04-01,Grande Prairie,Intox,Wapiti Community Dorm - Intox Mats,Rotary House,Intox Mats,40,23,,2013,4
16,2013-04-01,Grande Prairie,Short Term Supportive,Elder's Caring Shelter - Short Term Supportive,Elders Caring Centre,,18,16,,2013,4
17,2013-04-01,Calgary,Adult Emergency,River Front,Calgary Drop-In Centre,River Front,725,700,,2013,4
18,2013-04-01,Calgary,Winter Emergency,River Front - Winter Emergency,Calgary Drop-In Centre,River Front - Winter Emergency,140,90,,2013,4
19,2013-04-01,Calgary,Short Term Supportive,River Front - Short Term Supportive,Calgary Drop-In Centre,River Front - Short Term Supportive,270,262,,2013,4

In [318]:
shdf.loc[(shdf["Date"] == "2022-04-01") & (shdf["ShelterName"] == "Brendas House"), "Capacity"] = 60

In [319]:
shdf["Y-M"]=shdf["Date"].dt.to_period("M")
shdf=shdf.loc[(shdf["City"]=="Calgary") & (shdf["Date"]>="2013-04-01"), ["Y-M","Capacity","Overnight"]]

In [321]:
shdf

            Y-M  Capacity  Overnight
17      2013-04       725        700
18      2013-04       140         90
19      2013-04       270        262
20      2013-04       125        117
21      2013-04        23         12
...         ...       ...        ...
179289  2022-06         7          0
179299  2022-06         0          0
179302  2022-06         0          0
179309  2022-06         0          0
179316  2022-06         0          0

[58904 rows x 3 columns]

In [322]:
shdf=shdf.astype({"Capacity":"int32", "Overnight":"int32"})

shdf=shdf.groupby("Y-M").sum(["Capacity","Overnight"])

In [323]:
display(shdf)

         Capacity  Overnight
Y-M
2013-04     77250      67282
2013-05     75671      66496
2013-06     69030      56663
2013-07     71331      64111
2013-08     71331      64516
...           ...        ...
2022-02     50512      40115
2022-03     68132      43712
2022-04     63960      40392
2022-05     66236      41695
2022-06     62970      39852

[111 rows x 2 columns]

In [324]:
shdf["Rate"]=shdf["Overnight"]/shdf["Capacity"]

In [326]:
shdf

         Capacity  Overnight      Rate
Y-M
2013-04     77250      67282  0.870964
2013-05     75671      66496  0.878751
2013-06     69030      56663  0.820846
2013-07     71331      64111  0.898782
2013-08     71331      64516  0.904459
...           ...        ...       ...
2022-02     50512      40115  0.794168
2022-03     68132      43712  0.641578
2022-04     63960      40392  0.631520
2022-05     66236      41695  0.629492
2022-06     62970      39852  0.632873

[111 rows x 3 columns]

In [325]:
edf.head()

,Id,When,NAICS,Alberta,BritishColumbia,Canada,Manitoba,NewBrunswick,NewfoundlandAndLabrador,NovaScotia,Ontario,PrinceEdwardIsland,Quebec,Saskatchewan,ModifiedDate
0,272076,2001-01-01,Accommodation and food services,273.80,298.14,274.01,251.87,241.05,261.42,240.46,274.06,233.77,272.10,250.06,9/29/2022 8:23:03 AM
1,272077,2001-01-01,"Administrative and support, waste management a...",590.57,549.64,551.56,463.59,438.72,477.28,447.28,590.71,429.94,503.94,414.33,9/29/2022 8:23:03 AM
2,272078,2001-01-01,"Arts, entertainment and recreation",355.43,420.21,424.32,452.60,347.58,315.46,326.24,461.62,NaN,419.59,355.57,9/29/2022 8:23:03 AM
3,272079,2001-01-01,Construction,864.20,778.99,800.88,695.71,689.64,582.53,648.60,861.95,562.10,740.97,756.52,9/29/2022 8:23:03 AM
4,272080,2001-01-01,Educational services,638.47,722.88,672.97,618.34,670.52,706.13,633.63,641.57,683.85,709.37,686.72,9/29/2022 8:23:03 AM

In [266]:
udf.head()

,Id,When,Characteristic,NAICS,AgeGroup,Sex,Alberta,BritishColumbia,Canada,Manitoba,NewBrunswick,NewfoundlandAndLabrador,NovaScotia,Ontario,PrinceEdwardIsland,Quebec,Saskatchewan,ModifiedDate
0,1518250,1976-01-01,Unemployment rate,Accommodation and food services,15 years and over,Both sexes,9.6,11.8,10.7,13.4,9.5,17.3,10.5,10.4,33.3,10.6,4.9,9/9/2022 8:16:29 AM
1,1518251,1976-01-01,Unemployment rate,Accommodation and food services,15 years and over,Females,8.2,15.2,11.9,10.6,8.3,NaN,13.3,13.3,33.3,10.3,4.8,9/9/2022 8:16:29 AM
2,1518252,1976-01-01,Unemployment rate,Accommodation and food services,15 years and over,Males,NaN,NaN,9.0,15.1,NaN,26.3,NaN,6.8,66.7,10.8,NaN,9/9/2022 8:16:29 AM
3,1518253,1976-01-01,Unemployment rate,Agriculture,15 years and over,Both sexes,1.5,18.9,4.3,1.8,14.5,NaN,6.0,6.2,5.5,4.4,2.3,9/9/2022 8:16:29 AM
4,1518254,1976-01-01,Unemployment rate,Agriculture,15 years and over,Females,NaN,NaN,8.0,NaN,NaN,NaN,NaN,12.5,NaN,9.8,NaN,9/9/2022 8:16:29 AM

In [267]:
udf=udf.loc[udf["When"]>="2013-04-01"]

In [268]:
udf["AgeGroup"].unique()

array(['15 years and over', '15 to 24 years'], dtype=object)

In [269]:
udf=udf.loc[(udf["NAICS"]=="All Industries") & (udf["Sex"]=="Both sexes") & (udf["AgeGroup"] =='15 years and over'), ["When","Alberta"]]

In [270]:
udf.head()

            When  Alberta
29734 2013-04-01      4.4
29740 2013-05-01      4.6
29746 2013-06-01      4.9
29752 2013-07-01      4.5
29758 2013-08-01      4.7

In [271]:
udf

            When  Alberta
29734 2013-04-01      4.4
29740 2013-05-01      4.6
29746 2013-06-01      4.9
29752 2013-07-01      4.5
29758 2013-08-01      4.7
...          ...      ...
30382 2022-04-01      5.9
30388 2022-05-01      5.3
30394 2022-06-01      4.9
30400 2022-07-01      4.8
30406 2022-08-01      5.4

[113 rows x 2 columns]

In [272]:
edf.head()

,Id,When,NAICS,Alberta,BritishColumbia,Canada,Manitoba,NewBrunswick,NewfoundlandAndLabrador,NovaScotia,Ontario,PrinceEdwardIsland,Quebec,Saskatchewan,ModifiedDate
0,272076,2001-01-01,Accommodation and food services,273.80,298.14,274.01,251.87,241.05,261.42,240.46,274.06,233.77,272.10,250.06,9/29/2022 8:23:03 AM
1,272077,2001-01-01,"Administrative and support, waste management a...",590.57,549.64,551.56,463.59,438.72,477.28,447.28,590.71,429.94,503.94,414.33,9/29/2022 8:23:03 AM
2,272078,2001-01-01,"Arts, entertainment and recreation",355.43,420.21,424.32,452.60,347.58,315.46,326.24,461.62,NaN,419.59,355.57,9/29/2022 8:23:03 AM
3,272079,2001-01-01,Construction,864.20,778.99,800.88,695.71,689.64,582.53,648.60,861.95,562.10,740.97,756.52,9/29/2022 8:23:03 AM
4,272080,2001-01-01,Educational services,638.47,722.88,672.97,618.34,670.52,706.13,633.63,641.57,683.85,709.37,686.72,9/29/2022 8:23:03 AM

In [273]:
udf.tail()

            When  Alberta
30382 2022-04-01      5.9
30388 2022-05-01      5.3
30394 2022-06-01      4.9
30400 2022-07-01      4.8
30406 2022-08-01      5.4

In [274]:
edf["NAICS"].unique()

array(['Accommodation and food services',
       'Administrative and support, waste management and remediation services',
       'Arts, entertainment and recreation', 'Construction',
       'Educational services', 'Finance and insurance',
       'Forestry, logging and support',
       'Health care and social assistance',
       'Industrial aggregate excluding unclassified businesses',
       'Information and cultural industries',
       'Management of companies and enterprises', 'Manufacturing',
       'Mining, quarrying, and oil and gas extraction',
       'Other services (except public administration)',
       'Professional, scientific and technical services',
       'Public administration', 'Real estate and rental and leasing',
       'Trade', 'Transportation and warehousing', 'Utilities'],
      dtype=object)

In [275]:
edf=edf.loc[(edf["When"]>="2013-04-01") & (edf["NAICS"]=="Industrial aggregate excluding unclassified businesses"),["When","Alberta"]]

In [276]:
edf

           When  Alberta
2948 2013-04-01  1102.65
2968 2013-05-01  1097.42
2988 2013-06-01  1096.75
3008 2013-07-01  1098.22
3028 2013-08-01  1091.89
...         ...      ...
5088 2022-03-01  1264.69
5108 2022-04-01  1247.14
5128 2022-05-01  1249.94
5148 2022-06-01  1245.04
5168 2022-07-01  1238.94

[112 rows x 2 columns]

In [277]:
edf.tail()

           When  Alberta
5088 2022-03-01  1264.69
5108 2022-04-01  1247.14
5128 2022-05-01  1249.94
5148 2022-06-01  1245.04
5168 2022-07-01  1238.94

In [278]:
shdf["Date"].unique()

KeyError: 'Date'

In [279]:
shdf["Date"].tail().unique()

KeyError: 'Date'

In [280]:
shdf.tail()

            Y-M Capacity Overnight
179289  2022-06        7         0
179299  2022-06        0         0
179302  2022-06        0         0
179309  2022-06        0         0
179316  2022-06        0         0

In [281]:
shdf=shdf.loc[(shdf["City"]=="Calgary"), ["Date","City","Capacity","Overnight"]]

KeyError: 'City'

In [282]:
shdf

            Y-M Capacity Overnight
17      2013-04      725       700
18      2013-04      140        90
19      2013-04      270       262
20      2013-04      125       117
21      2013-04       23        12
...         ...      ...       ...
179289  2022-06        7         0
179299  2022-06        0         0
179302  2022-06        0         0
179309  2022-06        0         0
179316  2022-06        0         0

[58904 rows x 3 columns]

In [283]:
shdf

            Y-M Capacity Overnight
17      2013-04      725       700
18      2013-04      140        90
19      2013-04      270       262
20      2013-04      125       117
21      2013-04       23        12
...         ...      ...       ...
179289  2022-06        7         0
179299  2022-06        0         0
179302  2022-06        0         0
179309  2022-06        0         0
179316  2022-06        0         0

[58904 rows x 3 columns]

In [203]:
shdf["Y-M"]=shdf["Date"].dt.to_period("M")

In [ ]:




shdf2=shdf.groupby(['Y-M'].agg['
 df2=df2.groupby(['Y-M','Building']).agg(['mean'])